<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bit Payment Tests" verbose="2">
    <listeners>
        <listener class-name="com.example.bit.listener.SoftAssertListener"/>
    </listeners>

    <test name="Payment Request Tests">
        <classes>
            <class name="com.example.bit.tests.BitApplicationTests"/>
        </classes>
    </test>
</suite>